<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico?" type="image/x-icon">
    <link rel="icon" href="{{ site.baseurl }}/favicon.ico?" type="image/x-icon">

    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
    <meta property="og:title" content="{{ page.title | default: site.title }}">
    <meta property="og:description" content="{{ page.subtitle | default: site.description | strip_html | truncate: 160 }}">

    {% if page.header-img %}
      <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/{{ page.header-img }}">
    {% elsif page.image.feature %}
      <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/img/{{ page.image.feature }}">
    {% else %}
      <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/img/postcover/pc011.jpg">
    {% endif %}

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ page.title | default: site.title }}">
    <meta name="twitter:description" content="{{ page.subtitle | default: site.description | strip_html | truncate: 160 }}">
    {% if page.header-img %}
      <meta name="twitter:image" content="{{ site.url }}{{ site.baseurl }}/{{ page.header-img }}">
    {% endif %}

    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/galleries.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/super-search.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/magnificpopup.css" | prepend: site.baseurl }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,600&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    </head>