---
layout: default
---

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">
        <link href="{{ site.baseurl }}/css/tags-wrap.css" rel="stylesheet" />
    </head>
    <body>

{% assign post = page %}

<article>
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="post-heading">
                <h1 style="color: #acd578;">{{ page.title }}</h1>
                {% if page.subtitle %}
                <h2 class="subheading">{{ page.subtitle }}</h2>
                {% endif %}
                <span class="meta">Posted on {{ page.date | date: "%B %-d, %Y" }}</span>

                <span class="time-tag-categ" style="font-size:.7em;background-color: rgba(128, 128, 128, 0.45);">

                {% assign minutes = content | number_of_words | divided_by: 180 %}
                <i class="fa fa-clock-o"></i>&nbsp;{% if minutes == 0 %}{% assign minutes = 1 %}{% endif %}
                {{ minutes }} minute read

                {% if post.tags.size > 0 %}
                 &sim; Tagged with <i class="fa fa-tags"></i>&nbsp;:&nbsp;
                 {% for tag in page.tags %}
                    <a href="{{ site.baseurl }}/journal/tag#{{ tag | slugify }}" data-toggle="tooltip" title="Other posts tagged with {{ tag }}" rel="tag">{{ tag }}</a>
                    {% unless forloop.last %}&nbsp;&bull;&nbsp;{% endunless %}
                 {% endfor %}
                {% endif %}

                {% if post.categories.size > 0 %}
                 &sim; Filed in <i class="fa fa-briefcase"></i>&nbsp;:&nbsp;
                 {% for category in page.categories %}
                    <a href="{{ site.baseurl }}/journal/category/{{ category | slugify }}/" data-toggle="tooltip" title="Other posts filed in {{ category }} category" rel="tag">{{ category }}</a>
                    {% unless forloop.last %}&nbsp;&bull;&nbsp;{% endunless %}
                 {% endfor %}
                {% endif %}
                    
                </span>

            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
            <div id="toc-sidebar" class="sticky-sidebar">
                <h5>文章目录</h5>
                <ul id="toc-list" class="nav"></ul>
            </div>
        </div>

        <div class="col-lg-9 col-md-9">
            
            <div id="post-content">
                {{ content }}
            </div>

            <br><br><br>

            {% include signoff.html %} 
            <hr class="small">
            {% if site.share %}{% include share.html %}{% endif %}
            {% if site.comments %}{% include disqus_comments.html %}{% endif %}
            
            <br>

            <ul class="pager">
                {% if page.previous.url %}
                <li class="previous">
                    <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
                </li>
                {% endif %}
                {% if page.next.url %}
                <li class="next">
                    <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
                </li>
                {% endif %}
            </ul>

        </div>
    </div>
</div>
</article>

<br>
<hr class="medium">

<div class="tags-wrap">
    <div class="tags">

        <div class="section-heading group" style="color: #fff; text-align: center; margin-top: 10px;">
            <h3>Tags Cloud</h3>
        </div>

        <div class="tag-list">
            {% assign tags = site.tags | sort %}
            {% for tag in tags %}
                <a href="{{ site.baseurl }}/journal/tag#{{ tag[0] | slugify }}" style="text-decoration:none;"> 
                    {{ tag[0] }} 
                </a> &nbsp;&nbsp;
            {% endfor %}
        </div>

    </div>

    <hr class="medium">

    <div class="categories">

        <div class="section-heading group" style="color: #fff; text-align: center; margin-top: 10px;">
            <h3>Categories Cloud</h3>
        </div>

        <div class="category-list">
             {% assign categories = site.categories | sort %}
             {% for category in categories %}
                <a href="{{ site.baseurl }}/journal/category/{{ category[0] | slugify }}/"> {{ category[0] }} </a> &nbsp;&nbsp;
             {% endfor %}
        </div>

    </div>

    <hr class="medium">
    <br><br>

</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/main.min.js "></script>
<script src="{{ site.baseurl }}/js/jquery.magnific-popup.js"></script>

<script type="text/javascript">
      $(document).ready(function($) {
        $('a.popup').magnificPopup({
         type: 'image',
    gallery:{
         enabled:true,
         navigateByImgClick: true,
         preload: [0,1] // Will preload 0 - before current, and 1 after the current image
       },
image: {
      titleSrc: function(item) {
              return item.el.attr('title') + '&nbsp;' + item.el.attr('data-caption');
            }
        }
          // other options
      });
});
</script>

<script>
$(document).ready(function() {
    var tocList = $("#toc-list");
    var content = $("#post-content");
    // 扫描 h2 和 h3
    var headers = content.find("h2, h3");

    if (headers.length > 0) {
        headers.each(function(i) {
            var current = $(this);
            // 如果标题没有 ID，给它生成一个
            var id = current.attr("id");
            if (!id) {
                id = "header-" + i;
                current.attr("id", id);
            }
            
            // 生成链接
            var text = current.text();
            var link = $("<a></a>").attr("href", "#" + id).text(text);
            var item = $("<li></li>").append(link);
            
            // 如果是 h3，缩进一下
            if (current.prop("tagName") === "H3") {
                item.css("padding-left", "20px");
                item.css("font-size", "0.9em");
            }
            
            tocList.append(item);
        });
    } else {
        // 如果没有标题，隐藏目录栏
        $("#toc-sidebar").hide();
    }
});
</script>

<script src="{{ site.baseurl }}/js/retina.min.js"></script>
<script src="{{ site.baseurl }}/js/isotope.pkgd.min.js"></script> 
<script src="{{ site.baseurl }}/js/jquery.mousewheel.min.js"></script>
<script src="{{ site.baseurl}}/js/jquery.tinycarousel.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.lazylinepainter.min.js"></script>
<script src="{{ site.baseurl }}/js/scripts.js"></script>
<script src="{{ site.baseurl }}/js/modernizr.js"></script>

</body>
</html>